:root {
    --sans: Inter, Roboto, ui-sans-serif, Arial, system-ui, sans-serif;
    --serif: "Times New Roman", ui-serif, var(--sans);
}

html {
    font-family: var(--sans);
    font-variant-ligatures: none;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter.woff2") format("woff2");
  }
  @font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter-italic.woff2") format("woff2");
  }