:root {
    color-scheme: light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    background: #FFF;
    color: #000;
    font-size: 100%;
    line-height: 1.5;
    text-wrap: pretty;
}

body {
    padding: 1rem;
    margin: auto;
    max-width: 66ch;
}

main {
    min-height: 40vh;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    text-wrap: balance;
}

h1 {
    font-size: 1.8rem;
    margin-block: 2rem 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-block: 2rem 1rem;
}

h3 {
    font-size: 1.3em;
}

li{
    margin-top: .5rem;
}

ul.nolist {
    list-style-type: none;
    padding: 0;
}

.nolist li {
    margin-top: 1rem;
}

dt {
    font-weight: 700;
    margin-block-start: 1rem;
}

dd {
    margin-inline-start: 1rem;
}

a {
    color: unset;
    text-decoration-color: darkred;
    text-decoration-thickness: .2ch;
    text-underline-offset: .2ch;
}


div#logo {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
    margin-block-start: 2rem;
}

main {
    margin-block: 4rem;
}

address {
    font-style: normal;
}

img {
    max-width: 100%;
}

.big {
    font-size: 1.2rem;
    font-weight: 500;
}

div.logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-block: 2rem 4rem;
}

.logos img, .logos span {
    font-size: .8rem;
    object-fit: contain;    
    height: auto;
    max-height: 80px;
    max-width: 120px;
}