:root {
    color-scheme: light;
}

@view-transition {
    navigation: auto;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background: #FFF;
    color: #222;
    font-size: 100%;
    line-height: 1.5;
    text-wrap: pretty;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    line-height: 1.2;
    text-wrap: balance;
    font-weight: 500;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8em;
    margin-block: 2rem 1rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4em;
    font-weight: 700;
}

ul {
    padding-inline-start: 1rem;
}

li{
    margin-block: .5rem;
    list-style-type: square;
}

ul.nolist {
    list-style-type: none;
    padding: 0;
}

.nolist li {
    margin-top: 1rem;
    list-style-type: none;
}

dt {
    font-weight: 700;
    margin-block-start: 1rem;
}

dd {
    margin-inline-start: 1rem;
}

a {
    color: inherit;
    text-decoration-thickness: .2ch;
    text-underline-offset: .2ch;
}

#languages {
    display: flex;
    float: right;
    gap: 1rem;
    justify-content: end;
}

header, footer {
    background: #EEE;
    font-size: .85rem;

    & a {
        text-decoration: none;
    }
}

header {
    border-block-end: 2px solid #DDD;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

footer {
    margin-top: auto;
    border-block-start: 2px solid #DDD;
}

address {
    font-style: normal;
}

img {
    max-width: 100%;
}

hr {
    margin-block: 2rem;
}

nav#TableOfContents {
    margin-block-start: 2rem;
}

div.logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: row;
    gap: 2rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-block: 2rem 4rem;
}

.logos img, .logos span {
    font-size: .8rem;
    object-fit: contain;    
    height: auto;
    max-height: 80px;
    max-width: 120px;
}

.wrapper {
    padding: 1rem;
    margin: auto;
    max-width: 60rem;
}

.granit {
    background: #444;
    background-image: url(/images/photos/granit.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    font-family: var(--serif);
    line-height: 1;
    color: #FFF;
    text-shadow: 0 0 .5rem #000;
}

.flex {
    display: flex;
    gap: 2rem 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#as {
    font-size: 5rem;
}

#slogan {
    font-size: 2rem;
}

.big {
    font-size: 1.2rem;
    font-weight: 450;
}