<header>
    <div id="logo">

        <img src="/images/as.svg" alt="Logo Asset Services SA" height="60">

        <div>
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
            {{ if eq .Lang page.Lang }}
            {{ .Language.LanguageName }}
            {{ else }}
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
        {{ end}}
        {{ end }}
        </div>
    </div>
    
    <nav>
        {{ $current := .RelPermalink}}
        {{ range site.Menus.main }}
            {{ if eq .URL $current }}
                {{ .Name }}
            {{ else }}
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}



    </nav>

</header>