<header>

    <div id="languages">
    {{ if .IsTranslated }}
    {{ range .AllTranslations }}
        {{ if eq .Lang page.Lang }}
        {{ .Language.LanguageName }}
        {{ else }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
    {{ end}}
    {{ end }}
    </div>

    <div id="logo">
    <div id="as">
        AS
    </div>
    <div id="slogan">
        AS Asset Services SA
    </div>
    </div>
    
    <nav>
        {{ $current := .RelPermalink}}
        {{ range site.Menus.main }}
            {{ if eq .URL $current }}
                {{ .Name }}
            {{ else }}
                <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
        {{ end }}



    </nav>

</header>